<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
        <label for="user">User</label>
        <input type="text" name="user" maxLength="50" minLength="1" />
        <label for="message">Message</label>
        <textarea name="message" maxLength="120" minLength="1"></textarea>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
