body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: #fff;  
}

p {
  margin: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 15px;
  margin-bottom: 15px;
}

form {
  background: rgb(91, 91, 91);
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

form > input, form > textarea {
  margin-bottom: 12px;
  resize: none;
}

button {
  width: fit-content;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
}

.card {
  background: rgb(91, 91, 91);
  padding: 15px;
  width: 400px;
  height: 175px;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.3rem;
  word-wrap: break-word;
}

.user {
  color:rgb(185, 224, 244)
}

.bottom {
  margin-top: auto;
}

.added {
  font-size: 0.7rem;
  font-style:italic;
}

a {
  color: #00B7FF;
}
