body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: #fff;  
}

p {
  margin: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  background: rgb(91, 91, 91);
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

form > input, form > textarea {
  margin-bottom: 12px;
  resize: none;
}

form > button {
  width: fit-content;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
}

.card {
  background: rgb(91, 91, 91);
  padding: 15px;
  width: 400px;
  min-height: 100px;
}

.text {
  font-size: 1.3rem;
}

.added {
  font-size: 0.7rem;
}

a {
  color: #00B7FF;
}
